@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Hello! World</h1>
    <h1> Welcome, Guys</h1>
    <p class="lead mt-4 bg-gradient">
        Hi, I'm Anand Sharma, a Computer Science student just starting my journey with .NET development.
        I'm excited to learn C# and build awesome applications using the .NET framework.

    </p>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
