@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div >
    <p>
        This is a sample privacy policy for a web application. It outlines how user data is collected, used, and protected.


    </p>
    <p>
        We value your privacy and are committed to protecting your personal information. This policy explains our practices regarding the collection, use, and disclosure of your information.
    </p>
    <p>
        By using our application, you agree to the collection and use of information in accordance with this policy.


    </p>
</div>

